test --test_output=errors

# Fix the excessive rebuilding when using anything that depends on protobuf rules
# See https://github.com/bazelbuild/buildtools/issues/744
common --incompatible_strict_action_env
common --enable_bzlmod

try-import user.bazelrc
